@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Philosopher", sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

.container {
  width: min(1200px, calc(100% - 32px));
  margin: 0 auto;
}

img {
  max-width: 100%;
}

@media (max-width: 576px) {
  .container {
    width: calc(100% - 24px);
  }
}
